.modalContent {
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  /* border: 1px solid black; */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.modalCloseHeader {
  display: flex;
  height: 47px;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
