.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-button-groups {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: right;
}
